h1,
p {
  font-family: Lato;
}

.relative {
  position: relative;
}

* {
  box-sizing: border-box;
  font-family: Lato;
  font-size: 16px;
}

.m-5 {
  margin: 5px 0px;
}

.width-80 {
  width: 80%;
  margin: 0 auto;
}

input[type='text'] {
  padding: 5px;
  margin: 5px auto;
}

button {
  padding: 10px 12px;
  border-radius: 5px;
  background-color: #342194;
  color: white;
  border: 1px solid #342194;
  width: 50%;
  margin: 5px;
}

button:hover {
  background-color: white;
  color: #342194;
  cursor: pointer;
}
